.btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  padding: 1.5rem 2.2rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
}

.btn--primary {
  color: #fff;
  background-color: var(--color-primary);
}

.btn--primary:hover {
  background-color: #4e30bb;
}

.btn--secondary {
  color: #000;
  background-color: var(--color-secondary);
}

.btn--secondary:hover {
  background-color: #d2d9de;
}
