.resume {
  padding: 3rem 5rem;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  color: #292929;
  width: 79.3rem;
  height: 112.252rem;
  box-shadow: 6px 7px 25px 0px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  grid-template-rows: 1fr 4fr;
  column-gap: 4rem;
  row-gap: 5.5rem;
  line-height: 1.7;
}

.imgContainer {
  justify-self: center;
  align-self: center;
  width: 18.5rem;
  height: 18.5rem;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userImg {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-image: url(./img/person.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.containerLeft {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 100%;
  gap: 2.2rem;
  border-right: 2px solid var(--color-primary);
}

.containerRight {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2.5rem;
}

.summary {
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}

.experienceContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1.8rem;
}

.experience {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  color: #525252;
}

.expInfo {
  font-size: 1.2rem;
}

.role {
  font-size: 1.4rem;
  color: #292929 !important;
}
